.Home{
    background-color: rgb(233, 227, 227);
    width: 100%;
    min-width: 300px;
}
.Home::-webkit-scrollbar {
    display: none;
}
.Home_img{
    width: 100%;
}
.Home img{
    width: 100%;
    object-fit: contain;
    /* position: relative;
    top: 0px;
    left: 15%; */
    /* right: 25%; */
}
.Product{
    position: relative;
    top: -50px;
}
.product_info{
    display: flex;
    justify-content: space-evenly;
}
